<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691999463541-bonn8jfbdp7u03gv93ko1hlqaiu8ajt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691999463541-bonn8jfbdp7u03gv93ko1hlqaiu8ajt7</string>
	<key>API_KEY</key>
	<string>AIzaSyBS-YJzu2j2ChnulYGsQNbtg90L-USsuk8</string>
	<key>GCM_SENDER_ID</key>
	<string>691999463541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.News</string>
	<key>PROJECT_ID</key>
	<string>news-fb0c4</string>
	<key>STORAGE_BUCKET</key>
	<string>news-fb0c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691999463541:ios:29744d20db6b0a9d35803c</string>
	<key>DATABASE_URL</key>
	<string>https://news-fb0c4-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>